<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <title>Ошибка <%=status%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="//fonts.googleapis.com/css?family=Oxygen:400,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/error.css">
</head>
<body>
<div class="screenCenter noselect">
  <h4><%=message%></h4>
  <h1><%=status%></h1>
</div>
</body>
</html>